    .container {
      width: 900px;
      height: 100%;
      margin: 40px auto;
      border-radius: 25px;
      border: 1px solid #000;
      text-align: center;
      padding: 50px;
      opacity: 1.00;
    }

  body {
    background-image: url("nightandday.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: monospace;
}

  img {
    border: 25px solid #445;
    border-radius: 95%;

    
